
@{
    ViewBag.Title = "AdminControl";
}

<h2>AdminControl</h2>

<h3>Patient Controls</h3>
@Html.ActionLink("Patient Controls","PatientDoctor","Patients")

<h3>Doctor Controls</h3>
@Html.ActionLink("Doctor Controls","DoctorPatient","Doctors")