
@{
    ViewBag.Title = "Exists";
}

<h2>Exists</h2>
<p>Oop. That Patient already exists.</p>
<p>Please let Patient know or try again.</p>

@Html.ActionLink("Manage Users ", "AdminControl", "Manage", routeValues: null, htmlAttributes: new
       {
           title = "Manage Users"
       })


